%h2 Login
- form_tag session_path do 

  = label_tag "email", "E-Mail", :class => "grid_2 prefix_0 alpha"
  %br
  = text_field_tag "email", @email
  %br 
  = label_tag "password", "Contraseña", :class => "grid_2 prefix_0 alpha"
  %br
  = password_field_tag "password", ""
  %br
  %br          
  = submit_tag "Connectar"
  %br
  %br
  =link_to "Regsitrar como nuevo Usuario", signup_path
.clear