.grid_16
  .grid_10.alpha
    .round_section
      - form_tag session_path do 

        = label_tag "email", "E-Mail", :class => "grid_2 prefix_0 alpha"
        %br
        = text_field_tag "email", @email
        %br 
        = label_tag "password", "Contraseña", :class => "grid_2 prefix_0 alpha"
        %br
        = password_field_tag "password", ""
        %br
        %br          
        = submit_tag "Conectar"
        %br
        %br
        =link_to "Regsitrar como nuevo Usuario", signup_path, :class => "green"
      .clear

  .sidebar    
    .grid_5
      -if logged_in?
        .round_section
          %h2="¡Hola #{current_user.login}!"
          Estas conectado

      .round_section
        =render :partial => "/categories/categories"

      -unless logged_in?
        .round_section
          =render :partial => "/sessions/login"