.grid_16
  .grid_10.alpha
    .round_section
      %h2 Registrar nuevo Usuario
      
      
      - form_for :user, :url => users_path, :html => {:id => "new_user_form"} do |f|
        = error_messages_for :user
        %p
          %label{ :for => "login" }
            Nombre de usuario: 
          %br
          = f.text_field :login
        %p
          %label{ :for => "email" }
            E-mail:
          %br
          = f.text_field :email
        %p
          %label{ :for => "password" }
            Contraseña:
          %br
          = f.password_field :password
        %p
          %label{ :for => "password_confirmation" }
            Repetir contraseña: 
          %br
          = f.password_field :password_confirmation
        %p
          %label{ :for => "wants_newsletter" }
            = f.check_box :wants_newsletter, :checked => "checked"
          Suscribirse al Newsletter de queputamierda.com y recibir el TOP 10: 
        %p
          = submit_tag 'Registrarse'
  
  .sidebar    
    .grid_6.omega
      .round_section
        %h2 Ayuda
        Regístrate en solo 20 segundos y cuenta qué te pasó.


=render :partial => "js_validation", :locals => { :form_id => "new_user_form" }