.story{:id => dom_id(story_new)}
  .left.fix
    =comment_bubble_link(story_new)

  .middle
    %h2
      =#link_to(awesome_truncate(story_new.title, 80), story_path(story_new))
      =link_to(truncate(story_new.title, 80), story_path(story_new))      
      =category_as_tag(story_new)
    .text
      -unless controller.controller_name == "stories" and controller.action_name == "show"
        =truncate(story_new.body, 400).strip
        =link_to("(Leer mas)", story_path(story_new), :class => "leer_mas", :rel => "nofollow")
      -else
        =simple_format(story_new.body.strip)
    .story_footer
      .flag
        =image_tag "new/flags/#{story_new.country_code.downcase}.png", :title => story_new.country.name, :class => "tooltip" if story_new.country_id
      .text
        ="Escrito por: #{author(story_new)} el #{my_date(story_new.created_at)}"

  .divider.fix &nbsp;

  .right
    .thumbs
      .thumb
        .top
          -form_tag(vote_top_story_path(story_new), :id => "rate_top_#{dom_id(story_new)}") do 
            =thumbs_up_link(story_new)
        %span=story_new.rated_top
      .thumb
        .flop
          -form_tag (vote_flop_story_path(story_new), :id => "rate_flop_#{dom_id(story_new)}") do 
            =thumbs_down_link(story_new)
        %span=story_new.rated_flop            

  -unless controller.controller_name == "stories" and controller.action_name == "show"
    .footer.cl
      =image_tag "new/footer_story_divider.png"
  -else
    &nbsp;
.c