!!! XML
!!! Strict
%html{html_attrs("en")}
  %head
    %meta{content_type_attrs("text/html")}
    %title= t('txt.app_name')
    = render :partial => "shared/css_includes"
  %body
    #wrapper
      #header
        = link_to "konauto", root_path, :id => "logo"
        #login
          = render :partial => "shared/header_login_section"
      #container
        #nav_and_login
          #navigation
            = render :partial => "shared/header_navigation_section"
          #loading
            =image_tag "facebox/loading.gif"
        #content
          = yield :page_header
          - if flash[:notice]
            #flash.text-box-bg
              %p= flash[:notice]
              -content_for :javascript do
                :javascript
                  fade_out(4000);
          = yield
    %br.clear
    = render :partial => "shared/footer"
    = render :partial => "shared/js_includes"
    = yield :javascript